.search-results {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgb(218, 212, 212);
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(214, 211, 211);
    min-height: 400px;
}

.search-results h2 {
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
}

.search-results .spinner {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
    .search-results {
        padding: 16px;
    }
}