.nominations {
    background-color: #ffffff;
    border: 1px solid rgb(218, 212, 212);
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(214, 211, 211);
    min-height: 400px;
}

.nomination-results {
    padding: 20px;
}

.nomination-results h2 {
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
    .nomination-results {
        padding: 8px;
    }
}