.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 100px;
}

.App-header {
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
}

.Grid {
  min-height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  margin-top: 20px;
}

