.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.app-header {
  font-size: 30px;
  font-weight: bold;
}

.grid {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
  grid-template-columns: minmax(0, 1fr);
}

.app-search-bar {
  margin-top: 20px;
}

/* Desktop */
@media (min-width: 768px) {
  .app {
    padding: 50px;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
