.SearchBar {
    width: 100%;
    background-color: white;
    height: 90px;
    margin-top: 15px;
    border: 1px solid rgb(218, 212, 212);
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(214, 211, 211);
}

.form {
    padding: 2px;
    margin: 6px 18px;
}

.searchInput,
.searchButton {
    margin: 8px 0;
}

.movieTitle {
    font-weight: bold;
}

.search-wrapper {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.search-input-wrapper {
    flex: 1;
    height: 100%;
    font-size: 16px;
    border: 1px solid #808080bf;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    box-sizing: border-box;
}

.searchInput {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 15px;
    flex: 1;
}

.searchInput:focus {
    transition: outline .3s ease-in-out;
}

.searchInput::placeholder {
    font-size: 15px;
    padding: 4px;
}

.searchButton {
    height: 100%;
    padding: 0 35px;
    margin-left: 16px;
    border-radius: 5px;
    background-color: #236ff3;
    text-align: center;
    font-size: 16px;
    transition: background-color .25s;
    border: 1px solid #c0c0c0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    outline: none;
}

.searchButton:hover {
    cursor: pointer;
    background-color: #f1a610;
    transition: all .2s ease-in;
}

.searchButton:active {
    outline: none;
    opacity: 0.7;
}

.searchButton:disabled,
.searchButton:disabled:hover {
    background-color: lightgray;
    cursor: not-allowed;
    color:#464444
}

@media only screen and (max-width: 480px) {
    .searchButton {
        padding: 0 10px;
        margin-left: 10px;
    }
}