.movie span {
    line-height: 16px;
    letter-spacing: 0.5px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie {
    height: 200px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    background-color: #dce7fa59;
    border-radius: 4px;
    box-shadow: 1px 1px 7px #7d9dd37d;
    padding: 20px;
}

.movie:hover {
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.movie-image {
    height: 100%;
    width: 150px;
    border-radius: 4px;
    flex-shrink: 0;
}

.movie-title-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    margin-left: 16px;
}

.movie-action {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #236ff3;
    text-align: center;
    font-size: 16px;
    transition: background-color .25s;
    border: 1px solid #c0c0c0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    outline: none;
    word-break: break-all;
}

.movie-action:hover {
    cursor: pointer;
    background-color: #f1a610;
    transition: all .2s ease-in;
}

.movie-action:active {
    outline: none;
    opacity: 0.7;
}

.movie-action:disabled,
.movie-action:disabled:hover {
    background-color: lightgray;
    cursor: not-allowed;
    color:#464444
}

